@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'PokemonGb-RAeo';
    src: url("./fonts/PokemonGb-RAeo.ttf");
}
/* Media Screen */

/* Pantallas pequeñas */
@media screen and (max-width: 767px) {
    .pokemon:hover {
        transform: none;
    }
}
@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'PokemonGb-RAeo';
}

footer{
    border: solid .11rem;
    margin-top: 1%;
}


/* Container Logo y titulo */
.logo-img {
    width: 5%;
    
}
.logo-titulo-img {
    width: 20%;
}

.container {
    display: inline-flex;
    padding: 1rem;
    justify-content: center;
}
#buscador{
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border-radius: 0.25rem;
}


ul {
    list-style: none;
}


button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
}

body {
    font-family: "PokemonGb-RAeo";
    min-height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0,0,0,.5);
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 1rem;
    flex-wrap: wrap;
}

.nav h3 {
    color: white;
    position: relative;
    margin: auto 0;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem
}

.btn-header {
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 1rem rgba(0,0,0,.25);
    transition: .4s;
}

.btn-header:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0,0,0,.25);
    
}

.nombre-contenedor{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    padding: 2rem;
}
/* Media Screens */


.pokemon-todos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.pokemon-info {
    padding: 1rem;
    flex: 1;
}

.pokemon {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 55%;
    transform: translateX(-50%); 
    font-size: 4rem;
    font-weight: 400;
    z-index: -1;
    color: var(--clr-gray);
}
.pokemon-imagen {
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
}
.pokemon-imagen img {
    width: 100%;
    max-width: 8rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .9rem;
    font-weight: 500;
}

.pokemon-nombre {
    font-size: 1.2rem;
}

.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
    border-color: white;
    border-style: solid ;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
    


}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    
}

.pokemon:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, );
    border-color: yellow;
    border-style: solid;
    border-radius: 15px;
    border-width: 4px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
    z-index: 3;
}

/* Colores de los botones en NAV */
.normal{
    background-color: rgb(163, 159, 159);
    color: var(--clr-black)
}
.fire{
    background-color: rgb(255,157,85);
    color: var(--clr-black)
}
.water{
    background-color: rgb(80,144,214);
    color: var(--clr-black)
}
.grass{
    background-color:rgb(99,188,90);
    color: var(--clr-black)
}
.electric{
    background-color: rgb(244,210,60);
    color: var(--clr-black)
}
.ice{
    background-color: rgb(115,206,192);
    color: var(--clr-black)
}
.fighting{
    background-color: rgb(206,65,107);
    color: var(--clr-black)
}
.poison{
    background-color: rgb(181,103,206);
    color: var(--clr-black)
}
.ground{
    background-color: rgb(217,120,69);
    color: var(--clr-black)
}
.psychic{
    background-color: rgb(250,113,121);
    color: var(--clr-black)
}
.bug{
    background-color: rgb(145,193,47);
    color: var(--clr-black)
}
.rock{
    background-color: rgb(197,183,140);
    color: var(--clr-black)
}
.ghost{
    background-color: rgb(82,105,173);
    color: var(--clr-black)
}
.dark{
    background-color: rgb(90,84,101);
    color: var(--clr-black)
}
.dragon{
    background-color: rgb(11,109,195);
    color: var(--clr-black)
}
.steel{
    background-color: rgb(90,142,162);
    color: var(--clr-black)
}
.fairy{
    background-color: rgb(236,143,230);
    color: var(--clr-black)
}

.fliying{
    background-color: rgb(156,182,232);
    color: var(--clr-black);
}
.nav-text-logo {
    width: 16px;
}



/* Colores antes de pasar hover */
.pokemon.normal {
    background-color:white;
    color: var(--clr-black);
}
.pokemon.fire {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.water {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.grass {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.electric {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.ice {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.psychic {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.fairy {
    background-color: white;
    color: var(--clr-black);
}

.pokemon.dark {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.ground {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.poison {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.rock {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.fighting {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.dragon {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.bug {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.ghost {
    background-color: white;
    color: var(--clr-black);
}
.pokemon.steel {
    background-color: white;
    color: var(--clr-black);
}




/* Colores hover */
.pokemon.normal:hover {
    background-color: rgb(163, 159, 159);
    color: var(--clr-black);
    
}

.pokemon.fire:hover{
    background-color: rgb(255,157,85);
    color: var(--clr-black)
}
.pokemon.water:hover{
    background-color: rgb(80,144,214);
    color: var(--clr-black)
    
}
.pokemon.grass:hover{
    background-color:rgb(99,188,90);
    color: var(--clr-black)
}
.pokemon.electric:hover{
    background-color: rgb(244,210,60);
    color: var(--clr-black)
}
.pokemon.ice:hover{
    background-color: rgb(115,206,192);
    color: var(--clr-black)
}
.pokemon.fighting:hover{
    background-color: rgb(206,65,107);
    color: var(--clr-black)
}
.pokemon.poison:hover{
    background-color: rgb(181,103,206);
    color: var(--clr-black)
}
.pokemon.ground:hover{
    background-color: rgb(217,120,69);
    color: var(--clr-black)
}
.pokemon.psychic:hover{
    background-color: rgb(250,113,121);
    color: var(--clr-black)
}
.pokemon.bug:hover{
    background-color: rgb(145,193,47);
    color: var(--clr-black)
}
.pokemon.rock:hover{
    background-color: rgb(197,183,140);
    color: var(--clr-black)
}
.pokemon.ghost:hover{
    background-color: rgb(82,105,173);
    color: var(--clr-black)
}
.pokemon.dark:hover{
    background-color: rgb(90,84,101);
    color: var(--clr-black)
}
.pokemon.dragon:hover{
    background-color: rgb(11,109,195);
    color: var(--clr-black)
}
.pokemon.steel:hover{
    background-color: rgb(90,142,162);
    color: var(--clr-black)
}
.pokemon.fairy:hover{
    background-color: rgb(236,143,230);
    color: var(--clr-black)
}

.pokemon.fliying:hover{
    background-color: rgb(156,182,232);
    color: var(--clr-black);
}